<form class="example-form" [formGroup]="contactform" (ngSubmit)="SaveContact()">

  <h6 mat-dialog-title>Contact</h6>
  <mat-dialog-content class="mat-typography">
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contact id</mat-label>
        <input matInput placeholder="Contact ID" formControlName="id" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="FirstName" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="LastName" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email ID</mat-label>
        <input matInput placeholder="Email ID" formControlName="EmailId" />
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Save</button> |
    <a (click)="closepopup()" mat-raised-button color="primary">Close</a>
  </mat-dialog-actions>
</form>
