<form class="container-fluid" [formGroup]="contactform" (ngSubmit)="SaveContact()">

  <h6 mat-dialog-title>Contact</h6>
  <mat-dialog-content class="mat-typography">
    <p>
      <mat-form-field hidden="true" class="example-full-width" appearance="fill">
        <mat-label hidden="true">Contact id</mat-label>
        <input matInput placeholder="Contact ID" formControlName="id" class="invisible"/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstname" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastname" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="Email ID" formControlName="emailid" />
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Save</button> |
    <a (click)="closepopup()" mat-raised-button color="primary">Close</a>
  </mat-dialog-actions>
</form>
