<form class="example-form" [formGroup]="contactform" (ngSubmit)="SaveContact()">
    
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Contact ID</mat-label>
    <input matInput placeholder="Contact ID" formControlName="Id" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" formControlName="FirstName" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" formControlName="LastName" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email ID</mat-label>
    <input matInput placeholder="Email ID" formControlName="EmailId" />
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> |
    <a (click)="closepopup()" mat-raised-button color="primary">Close</a>
  </div>
</form>
